<a href="https://colab.research.google.com/github/rayeeed/AMAG_Demo/blob/main/Rayeed_AMAG.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import plotly.express as px

In [ ]:
!pip install haversine

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting haversine
  Downloading haversine-2.7.0-py2.py3-none-any.whl (6.9 kB)
Installing collected packages: haversine
Successfully installed haversine-2.7.0

In [ ]:
import haversine as hs

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
T1= pd.read_csv('/content/T1.csv')
T2= pd.read_csv('/content/T2.csv')
T2_2= pd.read_csv('/content/T2_2.csv')
T3= pd.read_csv('/content/T3.csv')
T4= pd.read_csv('/content/T4.csv')

In [ ]:
T1.head()

   Time (s)   Latitude   Longitude
0         2 -27.934549  153.391175
1         3 -27.934550  153.391181
2         4 -27.934552  153.391188
3         5 -27.934553  153.391196
4         6 -27.934554  153.391205

In [ ]:
T2.head()

   Time (s)   Latitude   Longitude
0         2 -27.934592  153.390845
1         3 -27.934587  153.390825
2         4 -27.934582  153.390806
3         5 -27.934578  153.390787
4         6 -27.934574  153.390769

In [ ]:

df = pd.read_csv("/content/T1andT2andT2_2.csv")

fig = px.scatter_geo(df,lat='Latitude',lon='Longitude', hover_name="Time (s)",color="Vehicle" )
fig.show()

After visualization and zooming in, it is clear that T1 is leading vehicle while T2_2 is follower. Morever, T1 and T2 go in opposite direction so no such dynamic is visible here. We cannot measure time to collision(TTC) between them as they move in opposite direction.

# **For T1 and T2**

In [ ]:
T1_new=T1.merge(T2, on='Time (s)')

In [ ]:
T1_new

    Time (s)  Latitude_x  Longitude_x  Latitude_y  Longitude_y
0          2  -27.934549   153.391175  -27.934592   153.390845
1          3  -27.934550   153.391181  -27.934587   153.390825
2          4  -27.934552   153.391188  -27.934582   153.390806
3          5  -27.934553   153.391196  -27.934578   153.390787
4          6  -27.934554   153.391205  -27.934574   153.390769
5          7  -27.934556   153.391214  -27.934570   153.390751
6          8  -27.934558   153.391224  -27.934567   153.390733
7          9  -27.934559   153.391234  -27.934563   153.390716
8         10  -27.934561   153.391243  -27.934561   153.390700
9         11  -27.934563   153.391253  -27.934557   153.390682
10        12  -27.934565   153.391265  -27.934554   153.390666
11        13  -27.934567   153.391277  -27.934551   153.390649
12        14  -27.934570   153.391289  -27.934548   153.390632
13        15  -27.934572   153.391300  -27.934545   153.390616
14        16  -27.934574   153.391309  -27.934541   153.390599
15        17  -27.934575   153.391317  -27.934537   153.390583
16        18  -27.934577   153.391326  -27.934534   153.390566
17        19  -27.934579   153.391336  -27.934529   153.390549
18        20  -27.934581   153.391346  -27.934525   153.390532
19        21  -27.934583   153.391356  -27.934520   153.390515
20        22  -27.934584   153.391366  -27.934514   153.390499
21        23  -27.934586   153.391374  -27.934508   153.390483
22        24  -27.934587   153.391383  -27.934501   153.390469
23        25  -27.934589   153.391392  -27.934496   153.390456
24        26  -27.934591   153.391402  -27.934491   153.390446
25        27  -27.934593   153.391413  -27.934487   153.390437
26        28  -27.934595   153.391427  -27.934485   153.390432
27        30  -27.934600   153.391454  -27.934488   153.390430

In [ ]:
T1_new.columns

Index(['Time (s)', 'Latitude_x', 'Longitude_x', 'Latitude_y', 'Longitude_y'], dtype='object')

In [ ]:
dist1_2=[]
m = T1_new.shape[0]
for i in range (0,m):
  dist1_2.append(hs.haversine((T1_new['Latitude_y'][i],T1_new['Longitude_y'][i]),(T1_new['Latitude_x'][i],T1_new['Longitude_x'][i]))*1000)

In [ ]:
dist1_2

[32.74301957029414,
 35.19636808250141,
 37.71916322836851,
 40.28452274200398,
 42.89663188757646,
 45.54161794396092,
 48.20676090459375,
 50.889867044883836,
 53.35359996215901,
 56.097819995723164,
 58.8873299173059,
 61.72073561974985,
 64.52870359692525,
 67.33189985318315,
 69.84300944689662,
 72.29795217821875,
 74.84434588340757,
 77.51806811905311,
 80.22820603946369,
 82.86341606498601,
 85.51221748509009,
 87.94213658481947,
 90.25833587485299,
 92.48542861064476,
 94.61888975443438,
 96.59409415013285,
 98.54648806155103,
 101.37978442281027]

As they are moving in the opposite direction, the distance between them is increasing.

# **T1 and T2_2**

In [ ]:
T1_2new=T1.merge(T2_2, on='Time (s)')

In [ ]:
T1_2new

    Time (s)  Latitude_x  Longitude_x  Latitude_y  Longitude_y
0          2  -27.934549   153.391175  -27.934488   153.390430
1          3  -27.934550   153.391181  -27.934485   153.390432
2          4  -27.934552   153.391188  -27.934487   153.390437
3          5  -27.934553   153.391196  -27.934491   153.390446
4          6  -27.934554   153.391205  -27.934496   153.390456
5          7  -27.934556   153.391214  -27.934501   153.390469
6          8  -27.934558   153.391224  -27.934508   153.390483
7          9  -27.934559   153.391234  -27.934514   153.390499
8         10  -27.934561   153.391243  -27.934520   153.390515
9         11  -27.934563   153.391253  -27.934525   153.390532
10        12  -27.934565   153.391265  -27.934529   153.390549
11        13  -27.934567   153.391277  -27.934534   153.390566
12        14  -27.934570   153.391289  -27.934537   153.390583
13        15  -27.934572   153.391300  -27.934541   153.390599
14        16  -27.934574   153.391309  -27.934545   153.390616
15        17  -27.934575   153.391317  -27.934548   153.390632
16        18  -27.934577   153.391326  -27.934551   153.390649
17        19  -27.934579   153.391336  -27.934554   153.390666
18        20  -27.934581   153.391346  -27.934557   153.390682
19        21  -27.934583   153.391356  -27.934561   153.390700
20        22  -27.934584   153.391366  -27.934563   153.390716
21        23  -27.934586   153.391374  -27.934567   153.390733
22        24  -27.934587   153.391383  -27.934570   153.390751
23        25  -27.934589   153.391392  -27.934574   153.390769
24        26  -27.934591   153.391402  -27.934578   153.390787
25        27  -27.934593   153.391413  -27.934582   153.390806
26        28  -27.934595   153.391427  -27.934587   153.390825
27        30  -27.934600   153.391454  -27.934592   153.390845

In [ ]:
dist1_2_2=[]
m = T1_2new.shape[0]
for i in range (0,m):
  dist1_2_2.append(hs.haversine((T1_2new['Latitude_y'][i],T1_2new['Longitude_y'][i]),(T1_2new['Latitude_x'][i],T1_2new['Longitude_x'][i]))*1000)

In [ ]:
dist1_2_2

[73.50531508019208,
 73.96340153485029,
 74.11229661117049,
 74.05989137258514,
 73.83052356518911,
 73.45839059012827,
 72.9770504446984,
 72.40067879830592,
 71.63353382274994,
 71.0252858525651,
 70.44980099208242,
 69.92709182617857,
 69.46882384781692,
 68.97031962466454,
 68.20391008589712,
 67.35122731896212,
 66.6193835065639,
 65.91716802449227,
 65.2337422414121,
 64.48107064425925,
 63.85850203232073,
 62.97764411917099,
 62.086919625789285,
 61.22590440970524,
 60.434121583191086,
 59.69194003188996,
 59.147476974206455,
 59.82513104734858]

In [ ]:
T1_2new['xl-xf'] = dist1_2_2

In [ ]:
T1_2new['xl-xf-d'] = T1_2new['xl-xf'] - 3

In [ ]:
speed_dif=[]
speed_dif.append(0)
for i in range (1,m):
  speed_dif.append((T1_2new['xl-xf'][i-1] - T1_2new['xl-xf'][i])/(T1_2new['Time (s)'][i] - T1_2new['Time (s)'][i-1]))

speed_dif

[0,
 -0.45808645465821485,
 -0.14889507632020127,
 0.052405238585350844,
 0.2293678073960308,
 0.3721329750608362,
 0.48134014542986847,
 0.576371646392488,
 0.7671449755559792,
 0.6082479701848342,
 0.575484860482689,
 0.5227091659038479,
 0.458267978361647,
 0.49850422315238063,
 0.7664095387674195,
 0.8526827669350041,
 0.7318438123982105,
 0.7022154820716366,
 0.6834257830801675,
 0.7526715971528546,
 0.6225686119385188,
 0.8808579131497396,
 0.890724493381704,
 0.8610152160840485,
 0.7917828265141509,
 0.7421815513011225,
 0.5444630576835081,
 -0.33882703657106106]

In [ ]:
T1_2new['vf-vi']=speed_dif

In [ ]:
T1_2new

,Time (s),Latitude_x,Longitude_x,Latitude_y,Longitude_y,xl-xf,xl-xf-d,vf-vi
0,2,-27.934549,153.391175,-27.934488,153.390430,73.505315,70.505315,0.000000
1,3,-27.934550,153.391181,-27.934485,153.390432,73.963402,70.963402,-0.458086
2,4,-27.934552,153.391188,-27.934487,153.390437,74.112297,71.112297,-0.148895
3,5,-27.934553,153.391196,-27.934491,153.390446,74.059891,71.059891,0.052405
4,6,-27.934554,153.391205,-27.934496,153.390456,73.830524,70.830524,0.229368
5,7,-27.934556,153.391214,-27.934501,153.390469,73.458391,70.458391,0.372133
6,8,-27.934558,153.391224,-27.934508,153.390483,72.977050,69.977050,0.481340
7,9,-27.934559,153.391234,-27.934514,153.390499,72.400679,69.400679,0.576372
8,10,-27.934561,153.391243,-27.934520,153.390515,71.633534,68.633534,0.767145
9,11,-27.934563,153.391253,-27.934525,153.390532,71.025286,68.025286,0.608248
10,12,-27.934565,153.391265,-27.934529,153.390549,70.449801,67.449801,0.575485
11,13,-27.934567,153.391277,-27.934534,153.390566,69.927092,66.927092,0.522709
12,14,-27.934570,153.391289,-27.934537,153.390583,69.468824,66.468824,0.458268
13,15,-27.934572,153.391300,-27.934541,153.390599,68.970320,65.970320,0.498504
14,16,-27.934574,153.391309,-27.934545,153.390616,68.203910,65.203910,0.766410
15,17,-27.934575,153.391317,-27.934548,153.390632,67.351227,64.351227,0.852683
16,18,-27.934577,153.391326,-27.934551,153.390649,66.619384,63.619384,0.731844
17,19,-27.934579,153.391336,-27.934554,153.390666,65.917168,62.917168,0.702215
18,20,-27.934581,153.391346,-27.934557,153.390682,65.233742,62.233742,0.683426
19,21,-27.934583,153.391356,-27.934561,153.390700,64.481071,61.481071,0.752672
20,22,-27.934584,153.391366,-27.934563,153.390716,63.858502,60.858502,0.622569
21,23,-27.934586,153.391374,-27.934567,153.390733,62.977644,59.977644,0.880858
22,24,-27.934587,153.391383,-27.934570,153.390751,62.086920,59.086920,0.890724
23,25,-27.934589,153.391392,-27.934574,153.390769,61.225904,58.225904,0.861015
24,26,-27.934591,153.391402,-27.934578,153.390787,60.434122,57.434122,0.791783
25,27,-27.934593,153.391413,-27.934582,153.390806,59.691940,56.691940,0.742182
26,28,-27.934595,153.391427,-27.934587,153.390825,59.147477,56.147477,0.544463
27,30,-27.934600,153.391454,-27.934592,153.390845,59.825131,56.825131,-0.338827

In [ ]:
TTC=[]
for i in range(0,m):
  if float(T1_2new['vf-vi'][i])>0:
    TTC.append(T1_2new['xl-xf-d'][i]/T1_2new['vf-vi'][i])
  else:
    TTC.append('NA')

TTC

['NA',
 'NA',
 'NA',
 1355.9692368703184,
 308.80760630410435,
 189.33659555058176,
 145.3796262561983,
 120.40959896741104,
 89.46618437148547,
 111.83808115610086,
 117.20517015079905,
 128.03887169349883,
 145.04357054457412,
 132.33653108792024,
 85.07711189341603,
 75.46913085891802,
 86.93027450500239,
 89.59809293705342,
 91.0614492197347,
 81.68379260865547,
 97.75388746763667,
 68.09003270993516,
 66.33579750508629,
 67.62471013522888,
 72.53772077382207,
 76.38554196409628,
 103.12449335514793,
 'NA']

In [ ]:
T1_2new['TTC']=TTC
T1_2new

,Time (s),Latitude_x,Longitude_x,Latitude_y,Longitude_y,xl-xf,xl-xf-d,vf-vi,TTC
0,2,-27.934549,153.391175,-27.934488,153.390430,73.505315,70.505315,0.000000,NA
1,3,-27.934550,153.391181,-27.934485,153.390432,73.963402,70.963402,-0.458086,NA
2,4,-27.934552,153.391188,-27.934487,153.390437,74.112297,71.112297,-0.148895,NA
3,5,-27.934553,153.391196,-27.934491,153.390446,74.059891,71.059891,0.052405,1355.969237
4,6,-27.934554,153.391205,-27.934496,153.390456,73.830524,70.830524,0.229368,308.807606
5,7,-27.934556,153.391214,-27.934501,153.390469,73.458391,70.458391,0.372133,189.336596
6,8,-27.934558,153.391224,-27.934508,153.390483,72.977050,69.977050,0.481340,145.379626
7,9,-27.934559,153.391234,-27.934514,153.390499,72.400679,69.400679,0.576372,120.409599
8,10,-27.934561,153.391243,-27.934520,153.390515,71.633534,68.633534,0.767145,89.466184
9,11,-27.934563,153.391253,-27.934525,153.390532,71.025286,68.025286,0.608248,111.838081
10,12,-27.934565,153.391265,-27.934529,153.390549,70.449801,67.449801,0.575485,117.20517
11,13,-27.934567,153.391277,-27.934534,153.390566,69.927092,66.927092,0.522709,128.038872
12,14,-27.934570,153.391289,-27.934537,153.390583,69.468824,66.468824,0.458268,145.043571
13,15,-27.934572,153.391300,-27.934541,153.390599,68.970320,65.970320,0.498504,132.336531
14,16,-27.934574,153.391309,-27.934545,153.390616,68.203910,65.203910,0.766410,85.077112
15,17,-27.934575,153.391317,-27.934548,153.390632,67.351227,64.351227,0.852683,75.469131
16,18,-27.934577,153.391326,-27.934551,153.390649,66.619384,63.619384,0.731844,86.930275
17,19,-27.934579,153.391336,-27.934554,153.390666,65.917168,62.917168,0.702215,89.598093
18,20,-27.934581,153.391346,-27.934557,153.390682,65.233742,62.233742,0.683426,91.061449
19,21,-27.934583,153.391356,-27.934561,153.390700,64.481071,61.481071,0.752672,81.683793
20,22,-27.934584,153.391366,-27.934563,153.390716,63.858502,60.858502,0.622569,97.753887
21,23,-27.934586,153.391374,-27.934567,153.390733,62.977644,59.977644,0.880858,68.090033
22,24,-27.934587,153.391383,-27.934570,153.390751,62.086920,59.086920,0.890724,66.335798
23,25,-27.934589,153.391392,-27.934574,153.390769,61.225904,58.225904,0.861015,67.62471
24,26,-27.934591,153.391402,-27.934578,153.390787,60.434122,57.434122,0.791783,72.537721
25,27,-27.934593,153.391413,-27.934582,153.390806,59.691940,56.691940,0.742182,76.385542
26,28,-27.934595,153.391427,-27.934587,153.390825,59.147477,56.147477,0.544463,103.124493
27,30,-27.934600,153.391454,-27.934592,153.390845,59.825131,56.825131,-0.338827,NA

In [ ]:
T1_2new.to_csv('/content/TTC_1_2_2.csv')

# **T3 and T4**

Both T3 and T4 has latitude and longitude upto four decimals. Since they are all the same, both appear stationary and TTC cannot be found.

In [ ]:
T3_4new=T3.merge(T4, on='Time (s)')

In [ ]:
T3_4new

   Time (s)  Latitude_x  Longitude_x  Latitude_y  Longitude_y
0       250    -27.9344     153.3904    -27.9346     153.3904
1       251    -27.9344     153.3904    -27.9346     153.3904
2       252    -27.9344     153.3904    -27.9346     153.3904
3       253    -27.9344     153.3904    -27.9346     153.3904
4       254    -27.9344     153.3904    -27.9345     153.3904